<div class="banner" style="background-image: url(https://i.ibb.co/kQqNZCV/y2020-03-11-03-generated.jpg);">
</div>
<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-black">
    <h1> All Products </h1>
      <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Products</h3>
    <% if user_signed_in? %>
      <%= link_to "Create a product", new_product_path, class: "btn btn-flat" %>
    <% end %>
  </div>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <%= link_to product_path(product), class: "text-decoration-none text-dark" do %>
          <div class="card-category">
            <div class="card-img">
              <%= image_tag product&.photos&.first if product.photos.present? %>
            </div>
            <div>
              <%= product.title %><br>
              <%= product.price %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>
