<h1 class="mb-4 text-center text-primary">My Products</h1>

<%= link_to 'Create New Product', new_product_path, class: "btn btn-success mb-4" %>

<div class="row container">
  <% @products.each do |product| %>
    <div class="col-3 mb-4">
      <div class="card shadow-lg border-light">

        <%= link_to product_path(product), class: "text-decoration-none text-dark" do %>

          <div class="card-body">
            <h5 class="card-title text-center text-uppercase font-weight-bold"><%= product.title %></h5>

            <div class="d-flex justify-content-center align-items-center">
              <%= cl_image_tag product.photos.first.key, crop: :fit if product.photos.attached?  %>
            </div>
            <p class="card-text text-center">Price: <%= number_to_currency(product.price) %></p>
          </div>

          <div class="card-footer bg-light d-flex justify-content-between align-items-center">
            <div class="btn-group" role="group">
              <%= link_to edit_product_path(product), class: 'btn btn-warning btn-sm' do %>
                Edit
              <% end %>
            </div>

            <div class="btn-group" role="group">
              <%= link_to "Delete", product_path(product),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{product.title} from your list?" },
                class: "btn btn-danger btn-sm" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
