<div class="container">
  <div class="row justify-content-center">

    <div class="col-md-12 col-lg-12 shadow-sm mt-4 p-4 rounded">
      <h1 class="mb-3"><%= @product.title %></h1>

      <p class="h4 price-color">Price: <%= number_to_currency(@product.price) %></p>
      <div class="d-flex justify-align-items">
        <div class="mb-4">
        <% @product.photos.each do |photo| %>
          <%= image_tag photo, class: "img-fluid mb-4 ms-3 me-3", width: 200, height: 200, alt: @product.title %>
        <% end %>
        </div>
        <div>
          <p class="mb-4"><strong>Category:</strong> <%= @product.category %></p>

          <p class="mb-4"><strong>Description:</strong> <%= @product.description %></p>

          <p class="mb-4"><strong>Stock:</strong> <%= @product.stock %> items</p>

          <div class="d-flex justify-content-between mt-4">
            <%= link_to "Back to Home", products_path, class: "btn btn-outline-primary" %>
            <%= link_to 'Buy Now', new_product_order_path(@product), class: "btn btn-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
